{{#*inline "myPartial"}}
  <dl class="henlo-list henlo-list--info_contact">
    {{#has 'contact.phone'}}
      <div class="henlo-list-item henlo-list-item--phone">
        <dt>T</dt>
        <dd>{{ r.contact.phone }}</dd>
      </div>
    {{/has}}
    {{#has 'contact.email'}}
      <div class="henlo-list-item henlo-list-item--email">
        <dt>@</dt>
        <dd>
          <a href="mailto:{{{ RAW.contact.email }}}">{{ RAW.contact.email }}</a>
        </dd>
      </div>
    {{/has}}
    {{#has 'contact.website'}}
      <div class="henlo-list-item">
        <dt>WWW</dt>
        <dd>
          <a href="{{{ RAW.contact.website }}}">
            {{trimURL RAW.contact.website }}
          </a>
        </dd>
      </div>
    {{/has}}
  </dl>
{{/inline}}


{{#*inline "myPartial2"}}
  <dl class="henlo-list henlo-list--info_contact">
    {{#each r.social}}
      <div class="henlo-list-item">
        <dt>{{ this.label }}</dt>
        <dd>{{ url }}</dd>
      </div>
    {{/each}}
  </dl>
{{/inline}}

{{#*inline "myPartial3"}}
  <dl class="henlo-list henlo-list--info_contact">
    <div class="henlo-list-item">
        <dt>class</dt>
        <dd><strong>{{ RAW.info.characterClass }}</strong></dd>
    </div>
    <div class="henlo-list-item">
        <dt>city</dt>
        <dd>{{ RAW.location.city }}</dd>
    </div>
  </dl>
{{/inline}}


{{#has 'info.brief'}}
  <section class="section section--header henlo-header">
    <div class="section-element--img">

    <!-- <span><img width="48" src="{{ r.info.img }}"></img></span> -->
    <span><img width="48" src="https://ca.slack-edge.com/T01M3PQRX9C-U03SHH80JTG-cfd71910e750-512"></img></span>
    </div>
    <div class="section-block section-block--main">
      <h1 class="section-title">
        {{ r.name }}
      </h1>
      <p class="section-subtitle">
        {{ r.info.label }}
        <!-- <small> -->
        <!-- {{ r.info.characterClass }} -->
        <!-- {{ r.location.city }} -->
        <!-- </small> -->
      </p>
    </div>
    {{#has "info.brief"}}
      <div class="section-block section-block--summary">
        <span class="section-banner">{{{ r.info.banner }}}</span>
        <p class="section-text">{{{ r.info.brief }}}</p>
      </div>
    {{/has}}

    <div class="section-block section-block--contact">
      {{> myPartial }}
    </div>
    <div class="section-block section-block--contact">
      {{> myPartial2 }}
    </div>
    <div class="section-block section-block--contact">
      {{> myPartial3 }}
    </div>
  </section>
{{/has}}
